#wave-height {
    font-size: 50px;
}

#weather {
    font-size: 35px;
}

#observation {
    padding-top: 11px;
    font-size: 20px;
}

#surf {
font-size: 35px;
}

#wind {
    float: right;
}

#temp {
    float: right;
    font-size: 35px;
}