<ion-header>
    <ion-toolbar>
      <ion-title>My Account</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content *ngIf="loggedIn && user">
    <img class="center" src="../../assets/images/avatar.png" alt="">
    <div id="name">{{user.name}}</div>
    <h1 id="title">My Favourite Spots</h1>
    <ion-list *ngIf="favourites.length > 0">
      <ion-item (click)="goToSpotDetailPage(spot)" *ngFor="let spot of favourites">
        <ion-avatar slot="start">
        <img src="../../assets/images/{{spot.spotName}}.jpg">
        </ion-avatar>
        <ion-label>
          <h2>{{spot.spotName}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-content *ngIf="!loggedIn">
    <div style="text-align: center">
      <div style="font-size: 30px; display: inline-block; margin-top: 50px;">Looks like you're not logged in</div>
      <div id="link" [routerLink]="['/tabs/tab3/login']">Tap here to login</div>
      <div style="font-size: 30px; display: inline-block; margin-top: 50px;">Don't have an account?</div>
      <div id="link" [routerLink]="['/tabs/tab3/register']">Tap here to register</div>
    </div>
  </ion-content>
  