<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Swell Surf Check
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      Spots
    </ion-list-header>

    <ion-item (click)="goToSpotDetailPage(spot)" *ngFor="let spot of spots">
      <ion-avatar slot="start">
      <img src="../../assets/images/{{spot.spotName}}.jpg">
      </ion-avatar>
      <ion-label>
        <h2>{{spot.spotName}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
